.bg-image {
    background-image: url('../../assets/images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contact-page{
    height: 100vh;
}